@using JuliePro_Models.ViewModels
@model GenericControllerUpsertVM<Objective>
@{
ViewData["Title"] = SharedLocals[Model.GeneralViewInfos.PageTitle];
}

<div class="row justify-content-center view-upsert">
    <div class="col-8">
        @{
            ViewData["Id"] = Model.Id;
            var ListForCustomer_Id = Model.SelectLists["ListForCustomer_Id"];
        }
        <partial name="_ViewHeader" model="Model.GeneralViewInfos" view-data="ViewData" />
        <form asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsCreate" />
            <input type="hidden" asp-for="Entity.Id" />
            <div class="form-floating mb-3">
                <input asp-for="Entity.Name" class="form-control" id="Name" placeholder="@Html.DisplayNameFor(model => model.Entity.Name)" />
                <label for="Name" asp-for="Entity.Name"></label>
                <span asp-validation-for="Entity.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Entity.LostWeight" class="form-control" id="LostWeight" placeholder="@Html.DisplayNameFor(model => model.Entity.LostWeight)" />
                <label for="LostWeight" asp-for="Entity.LostWeight"></label>
                <span asp-validation-for="Entity.LostWeight" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Entity.DistanceKm" class="form-control" id="DistanceKm" placeholder="@Html.DisplayNameFor(model => model.Entity.DistanceKm)" />
                <label for="DistanceKm" asp-for="Entity.DistanceKm"></label>
                <span asp-validation-for="Entity.DistanceKm" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Entity.AchievedDate" class="form-control" id="AchievedDate" placeholder="@Html.DisplayNameFor(model => model.Entity.AchievedDate)" />
                <label for="AchievedDate" asp-for="Entity.AchievedDate"></label>
                <span asp-validation-for="Entity.AchievedDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Entity.Customer_Id" class="form-select" placeholder="@Html.DisplayNameFor(model => model.Entity.Customer_Id)" asp-items="ListForCustomer_Id"></select>
                <label asp-for="Entity.Customer_Id"></label>
                <span asp-validation-for="Entity.Customer_Id" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">@SharedLocals[Model.GeneralViewInfos.SubmitButtonText]</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
